In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

             view talk edit   W   L  T    PCT  DIV CONF   PF   PA STK
0  (2) New England Patriots  12   4  0  0.750  4–2  9–3  465  315  L2
1             New York Jets  10   6  0  0.625  3–3  7–5  387  314  L1
2             Buffalo Bills   8   8  0  0.500  4–2  7–5  379  359  W2
3            Miami Dolphins   6  10  0  0.375  1–5  4–8  310  389  W1

In [5]:
nfl_frame.columns

Index(['view talk edit', 'W', 'L', 'T', 'PCT', 'DIV', 'CONF', 'PF', 'PA',
       'STK'],
      dtype='object')

In [6]:
nfl_frame['W']

0    12
1    10
2     8
3     6
Name: W, dtype: int64

In [7]:
nfl_frame.PCT

0    0.750
1    0.625
2    0.500
3    0.375
Name: PCT, dtype: float64

In [10]:

nfl_frame[['W','L']]

    W   L
0  12   4
1  10   6
2   8   8
3   6  10

In [11]:
DataFrame(nfl_frame, columns = ['W',"L"])

    W   L
0  12   4
1  10   6
2   8   8
3   6  10

In [12]:
DataFrame(nfl_frame, columns = ['W',"L","Statiums"])

    W   L  Statiums
0  12   4       NaN
1  10   6       NaN
2   8   8       NaN
3   6  10       NaN

In [13]:
nfl_frame.head()

             view talk edit   W   L  T    PCT  DIV CONF   PF   PA STK
0  (2) New England Patriots  12   4  0  0.750  4–2  9–3  465  315  L2
1             New York Jets  10   6  0  0.625  3–3  7–5  387  314  L1
2             Buffalo Bills   8   8  0  0.500  4–2  7–5  379  359  W2
3            Miami Dolphins   6  10  0  0.375  1–5  4–8  310  389  W1

In [14]:
nfl_frame.head(2)

             view talk edit   W  L  T    PCT  DIV CONF   PF   PA STK
0  (2) New England Patriots  12  4  0  0.750  4–2  9–3  465  315  L2
1             New York Jets  10  6  0  0.625  3–3  7–5  387  314  L1

In [15]:
nfl_frame.tail(1)

   view talk edit  W   L  T    PCT  DIV CONF   PF   PA STK
3  Miami Dolphins  6  10  0  0.375  1–5  4–8  310  389  W1

In [16]:
nfl_frame.ix(3)

In [18]:
nfl_frame.ix[3]

view talk edit    Miami Dolphins
W                              6
L                             10
T                              0
PCT                        0.375
DIV                          1–5
CONF                         4–8
PF                           310
PA                           389
STK                           W1
Name: 3, dtype: object

In [19]:
nfl_frame['Stadium'] = "Levis Statium"

In [21]:
nfl_frame

,view talk edit,W,L,T,PCT,DIV,CONF,PF,PA,STK,Stadium
0,(2) New England Patriots,12,4,0,0.750,4–2,9–3,465,315,L2,Levis Statium
1,New York Jets,10,6,0,0.625,3–3,7–5,387,314,L1,Levis Statium
2,Buffalo Bills,8,8,0,0.500,4–2,7–5,379,359,W2,Levis Statium
3,Miami Dolphins,6,10,0,0.375,1–5,4–8,310,389,W1,Levis Statium

In [22]:
nfl_frame['Stadiium'] = np.arange(4)

In [23]:
nfl_frame

,view talk edit,W,L,T,PCT,DIV,CONF,PF,PA,STK,Stadium,Stadiium
0,(2) New England Patriots,12,4,0,0.750,4–2,9–3,465,315,L2,Levis Statium,0
1,New York Jets,10,6,0,0.625,3–3,7–5,387,314,L1,Levis Statium,1
2,Buffalo Bills,8,8,0,0.500,4–2,7–5,379,359,W2,Levis Statium,2
3,Miami Dolphins,6,10,0,0.375,1–5,4–8,310,389,W1,Levis Statium,3

In [24]:
stadiums = Series(["levis","atat"],index=[3,0])

In [26]:
nfl_frame['Stadiium'] = stadiums

In [27]:
nfl_frame

,view talk edit,W,L,T,PCT,DIV,CONF,PF,PA,STK,Stadium,Stadiium
0,(2) New England Patriots,12,4,0,0.750,4–2,9–3,465,315,L2,Levis Statium,atat
1,New York Jets,10,6,0,0.625,3–3,7–5,387,314,L1,Levis Statium,NaN
2,Buffalo Bills,8,8,0,0.500,4–2,7–5,379,359,W2,Levis Statium,NaN
3,Miami Dolphins,6,10,0,0.375,1–5,4–8,310,389,W1,Levis Statium,levis

In [28]:
del nfl_frame['Stadiium']

In [29]:
nfl_frame

,view talk edit,W,L,T,PCT,DIV,CONF,PF,PA,STK,Stadium
0,(2) New England Patriots,12,4,0,0.750,4–2,9–3,465,315,L2,Levis Statium
1,New York Jets,10,6,0,0.625,3–3,7–5,387,314,L1,Levis Statium
2,Buffalo Bills,8,8,0,0.500,4–2,7–5,379,359,W2,Levis Statium
3,Miami Dolphins,6,10,0,0.375,1–5,4–8,310,389,W1,Levis Statium

In [30]:
data = {'City':['sf','la','nyc'], 'pop':[300,300,300]}

In [31]:
city_frame = DataFrame(data)

In [32]:
city_frame

  City  pop
0   sf  300
1   la  300
2  nyc  300