In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series(np.arange(3),index=['a','b','c'])

In [3]:
ser1

a    0
b    1
c    2
dtype: int64

In [4]:
ser1['b']

1

In [5]:
ser1[1]

1

In [6]:
ser1[0:3]

a    0
b    1
c    2
dtype: int64

In [7]:
ser1[['a','b']]

a    0
b    1
dtype: int64

In [9]:
ser1[ser1>1]

c    2
dtype: int64

In [10]:
ser1[ser1>1] = 10

In [11]:
ser1

a     0
b     1
c    10
dtype: int64

In [12]:
dframe = DataFrame(np.arange(25).reshape(5,5),index=['la','wc','nyc','chg','det'],columns = ['a','b','c','d','e'])

In [13]:
dframe

      a   b   c   d   e
la    0   1   2   3   4
wc    5   6   7   8   9
nyc  10  11  12  13  14
chg  15  16  17  18  19
det  20  21  22  23  24

In [14]:
drame['b']

NameError: name 'drame' is not defined

In [15]:
dframe['b']

la      1
wc      6
nyc    11
chg    16
det    21
Name: b, dtype: int64

In [16]:
dframe[['b','c']]

      b   c
la    1   2
wc    6   7
nyc  11  12
chg  16  17
det  21  22

In [17]:
dframe[dframe['c']>5]

      a   b   c   d   e
wc    5   6   7   8   9
nyc  10  11  12  13  14
chg  15  16  17  18  19
det  20  21  22  23  24

In [18]:
dframe>10

         a      b      c      d      e
la   False  False  False  False  False
wc   False  False  False  False  False
nyc  False   True   True   True   True
chg   True   True   True   True   True
det   True   True   True   True   True

In [19]:
dframe.ix['la']

a    0
b    1
c    2
d    3
e    4
Name: la, dtype: int64

In [20]:
dframe.ix[1]

a    5
b    6
c    7
d    8
e    9
Name: wc, dtype: int64

In [21]:
dframe

      a   b   c   d   e
la    0   1   2   3   4
wc    5   6   7   8   9
nyc  10  11  12  13  14
chg  15  16  17  18  19
det  20  21  22  23  24