In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn
from numpy import nan
from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],list('abcabc')])

In [4]:
ser

1  a   -0.563075
   b   -0.474182
   c   -0.063464
2  a   -0.379044
   b   -0.460901
   c    2.488623
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a   -0.563075
b   -0.474182
c   -0.063464
dtype: float64

In [7]:
ser[2]

a   -0.379044
b   -0.460901
c    2.488623
dtype: float64

In [9]:
ser[:,'a']

1   -0.563075
2   -0.379044
dtype: float64

In [10]:
dframe = ser.unstack()

In [11]:
dframe

          a         b         c
1 -0.563075 -0.474182 -0.063464
2 -0.379044 -0.460901  2.488623

In [12]:
dframe.unstack()

a  1   -0.563075
   2   -0.379044
b  1   -0.474182
   2   -0.460901
c  1   -0.063464
   2    2.488623
dtype: float64

In [13]:
dframe.T.unstack()

1  a   -0.563075
   b   -0.474182
   c   -0.063464
2  a   -0.379044
   b   -0.460901
   c    2.488623
dtype: float64

In [19]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                   index=[list('aabb'),[1,2,1,2]],
                   columns = [['ny','ny','la','sf'],
                              ['cold','hot','cold','hot']])

In [20]:
dframe2

      ny       la  sf
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [17]:
list('ab')

['a', 'b']

In [21]:
dframe2.index.names = ['Index_1','Index2']

In [22]:
dframe2

                 ny       la  sf
               cold hot cold hot
Index_1 Index2
a       1         0   1    2   3
        2         4   5    6   7
b       1         8   9   10  11
        2        12  13   14  15

In [23]:
dframe2.columns.names=['city','temp']

In [24]:
dframe2

city             ny       la  sf
temp           cold hot cold hot
Index_1 Index2
a       1         0   1    2   3
        2         4   5    6   7
b       1         8   9   10  11
        2        12  13   14  15

In [25]:
dframe2.swaplevel('city','temp',axis=1)

temp           cold hot cold hot
city             ny  ny   la  sf
Index_1 Index2
a       1         0   1    2   3
        2         4   5    6   7
b       1         8   9   10  11
        2        12  13   14  15

In [28]:
dframe2.sort_index(level=1)

city             ny       la  sf
temp           cold hot cold hot
Index_1 Index2
a       1         0   1    2   3
b       1         8   9   10  11
a       2         4   5    6   7
b       2        12  13   14  15

In [29]:
dframe2.sort_index(level=1).sort_index(level=0)

city             ny       la  sf
temp           cold hot cold hot
Index_1 Index2
a       1         0   1    2   3
        2         4   5    6   7
b       1         8   9   10  11
        2        12  13   14  15

In [31]:
dframe2.sum(level='temp',axis=1)

temp            cold  hot
Index_1 Index2
a       1          2    4
        2         10   12
b       1         18   20
        2         26   28