In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
df_left = DataFrame({'key':list('xyzxy'),
                    'data':range(5)})

In [3]:
df_left

   data key
0     0   x
1     1   y
2     2   z
3     3   x
4     4   y

In [7]:
df_right = DataFrame({'group_data':[10,20]},index=['x','y'])

In [8]:
df_right

   group_data
x          10
y          20

In [9]:
pd.merge(df_left,df_right, left_on='key',right_index=True)

   data key  group_data
0     0   x          10
3     3   x          10
1     1   y          20
4     4   y          20

In [10]:
pd.merge(df_left,df_right, left_on='key',right_index=True,how='outer')

   data key  group_data
0     0   x        10.0
3     3   x        10.0
1     1   y        20.0
4     4   y        20.0
2     2   z         NaN

In [12]:
df_left_hr = DataFrame({'key1':list('sssll'),
                       'key2':[10,20,30,40,50],
                       'data':range(5)})

In [13]:
df_left_hr

   data key1  key2
0     0    s    10
1     1    s    20
2     2    s    30
3     3    l    40
4     4    l    50

In [14]:
df_right_hr = DataFrame(np.arange(10).reshape(5,2),
                       index=[list('llsss'),[20,10,20,20,50]])

In [15]:
df_right_hr

      0  1
l 20  0  1
  10  2  3
s 20  4  5
  20  6  7
  50  8  9

In [16]:
pd.merge(df_left_hr, df_right_hr, left_on = ['key1','key2'], 
         right_index=True)

   data key1  key2  0  1
1     1    s    20  4  5
1     1    s    20  6  7

In [17]:
df_left.join(df_right)

   data key  group_data
0     0   x         NaN
1     1   y         NaN
2     2   z         NaN
3     3   x         NaN
4     4   y         NaN