In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                   index=pd.Index(['l','s'],name='city'),
                   columns = pd.Index(list('abcd'),name='letter'))

In [5]:
dframe1

letter  a  b  c  d
city
l       0  1  2  3
s       4  5  6  7

In [6]:
dframe1.stack()

city  letter
l     a         0
      b         1
      c         2
      d         3
s     a         4
      b         5
      c         6
      d         7
dtype: int64

In [7]:
# シリーズになりました

In [8]:
type(dframe1.stack())

pandas.core.series.Series

In [9]:
dframe_st = dframe1.stack()

In [11]:
dframe_st.unstack()

letter  a  b  c  d
city
l       0  1  2  3
s       4  5  6  7

In [12]:
dframe_st.unstack(0)

city    l  s
letter
a       0  4
b       1  5
c       2  6
d       3  7

In [13]:
dframe_st.unstack('city')

city    l  s
letter
a       0  4
b       1  5
c       2  6
d       3  7

In [14]:
dframe_st.unstack('letter')

letter  a  b  c  d
city
l       0  1  2  3
s       4  5  6  7

In [15]:
ser1 = Series([0,1,2],index=list('qxy'))
ser2 = Series([4,5,6],index=list('xyz'))

In [16]:
ser1

q    0
x    1
y    2
dtype: int64

In [17]:
ser2

x    4
y    5
z    6
dtype: int64

In [18]:
dframe = pd.concat([ser1,ser2],keys=['Alpha','Beta'])

In [19]:
dframe

Alpha  q    0
       x    1
       y    2
Beta   x    4
       y    5
       z    6
dtype: int64

In [20]:
dframe.unstack()

         q    x    y    z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [21]:
# 1個目の階層が列になる。2個目が行になる

In [22]:
dframe.unstack().stack()

Alpha  q    0.0
       x    1.0
       y    2.0
Beta   x    4.0
       y    5.0
       z    6.0
dtype: float64

In [23]:
# stackはヌルを抜いてくれる

In [24]:
dframe.unstack().stack(dropna = False)

Alpha  q    0.0
       x    1.0
       y    2.0
       z    NaN
Beta   q    NaN
       x    4.0
       y    5.0
       z    6.0
dtype: float64