In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3,5,6,9])

In [4]:
obj

0    3
1    5
2    6
3    9
dtype: int64

In [5]:
obj.values

array([3, 5, 6, 9])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas = Series([870000,54000,300],index=['ussr','germ','jpn'])

In [10]:
ww2_cas

ussr    870000
germ     54000
jpn        300
dtype: int64

In [11]:
ww2_cas[ww2_cas>5000]

ussr    870000
germ     54000
dtype: int64

In [12]:
ww2_cas > 5000

ussr     True
germ     True
jpn     False
dtype: bool

In [13]:
'ussr' in ww2_cas

True

In [14]:
ww2_dict = ww2_cas.to_dict()

In [15]:
ww2_dict

{'germ': 54000, 'jpn': 300, 'ussr': 870000}

In [16]:
ww2_Series = Series(ww2_dict)

In [17]:
ww2_Series

germ     54000
jpn        300
ussr    870000
dtype: int64

In [18]:
countries = ['china','germany','japan','usa','ussr','argentina']

In [19]:
obj2 = Series(ww2_dict, index=countries)

In [20]:
obj2

china             NaN
germany           NaN
japan             NaN
usa               NaN
ussr         870000.0
argentina         NaN
dtype: float64

In [21]:
pd.isnull(obj2)

china         True
germany       True
japan         True
usa           True
ussr         False
argentina     True
dtype: bool

In [22]:
pd.notnull(obj2)

china        False
germany      False
japan        False
usa          False
ussr          True
argentina    False
dtype: bool

In [23]:
ww2_Series

germ     54000
jpn        300
ussr    870000
dtype: int64

In [24]:
obj2

china             NaN
germany           NaN
japan             NaN
usa               NaN
ussr         870000.0
argentina         NaN
dtype: float64

In [25]:
ww2_Series + obj2

argentina          NaN
china              NaN
germ               NaN
germany            NaN
japan              NaN
jpn                NaN
usa                NaN
ussr         1740000.0
dtype: float64

In [26]:
obj2.name="第二次世界大戦"

In [27]:
obj2

china             NaN
germany           NaN
japan             NaN
usa               NaN
ussr         870000.0
argentina         NaN
Name: 第二次世界大戦, dtype: float64

In [29]:
obj.index.name="countries"

In [30]:
obj

countries
0    3
1    5
2    6
3    9
dtype: int64