In [6]:
import sys
sys.version

'3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12) \n[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]'

In [19]:
import pandas as pd
from pandas import Series, DataFrame

import numpy as np
from numpy import nan as NA

In [14]:
df = DataFrame(np.random.rand(6,3))

In [15]:
df

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080  0.325168  0.120067
3  0.441314  0.677595  0.818613
4  0.538550  0.142081  0.036182
5  0.637337  0.524723  0.271542

In [20]:
df.ix[2:,1]=NA

In [21]:
df

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080       NaN  0.120067
3  0.441314       NaN  0.818613
4  0.538550       NaN  0.036182
5  0.637337       NaN  0.271542

In [22]:
df.ix[4:,2] = NA

In [23]:
df

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080       NaN  0.120067
3  0.441314       NaN  0.818613
4  0.538550       NaN       NaN
5  0.637337       NaN       NaN

In [25]:
df.fillna(method="ffill")

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080  0.862383  0.120067
3  0.441314  0.862383  0.818613
4  0.538550  0.862383  0.818613
5  0.637337  0.862383  0.818613

In [26]:
df

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080       NaN  0.120067
3  0.441314       NaN  0.818613
4  0.538550       NaN       NaN
5  0.637337       NaN       NaN

In [29]:
df.fillna(df.mean())

          0         1         2
0  0.061652  0.911405  0.727154
1  0.698730  0.862383  0.685369
2  0.902080  0.886894  0.120067
3  0.441314  0.886894  0.818613
4  0.538550  0.886894  0.587801
5  0.637337  0.886894  0.587801

In [30]:
data=Series(np.random.randn(10),
           index=[['a','a','a','b','b','b','c','c','d','d'],
                 [1,2,3,1,2,3,1,2,2,3]])

In [31]:
data

a  1   -1.011177
   2    0.438497
   3   -2.204514
b  1   -0.873417
   2   -0.311433
   3    0.462494
c  1    0.002037
   2   -1.071128
d  2    0.153856
   3   -0.953827
dtype: float64

In [32]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [33]:
data['b']

1   -0.873417
2   -0.311433
3    0.462494
dtype: float64

In [34]:
data.unstack()

          1         2         3
a -1.011177  0.438497 -2.204514
b -0.873417 -0.311433  0.462494
c  0.002037 -1.071128       NaN
d       NaN  0.153856 -0.953827

In [35]:
frame=DataFrame(np.arange(12).reshape((4,3)),
               index=[['a','a','b','b'],[1,2,1,2]],
               columns = [['Ohio','Ohio','Colorado'],
                         ['Green','Red','Green']])

In [36]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11